
.img {
    width: 100%;
    height: 50vh;
    background-image: url(../images/img3.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}


.img-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: white;
    overflow: hidden;
}

.img-wrapper {
    width: 80vw;
    height: 60vh;
    display: flex;
}

.main-img {
    width: 40%;
    height: 100%;
    background-image: url(../images/img3.jpg);
    background-position: center;
    background-size: cover;
}

.img-info {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;

}

.title-info {
    width: 50%;
    height: 20%;
    color: black;
}

.desc-info {
    width: 50%;
    height: 60%;
    color: black;
}

.views-info {
    width: 50%;
    height: 10%;
    color: black;
}

.titles {
    color: rgba(0,0,0,0.5);
    font-size: 0.8rem;
}

.title-info .titles {
    display: flex;
    justify-content: space-between;
}

.title-info span {
    color: orangered;
    cursor: pointer;
}